.custom-card.header-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
}

/* For smaller screens like mobile */
@media (max-width: 768px) {
  .custom-card.header-card {
    padding: 15px; /* Reduce padding */
    max-width: 90%;  /* Take up 90% of the screen width */
  }
}
.status-available {
  color: rgb(112, 204, 112);
}

.status-unavailable {
  color: rgb(226, 92, 92);
}
.custom-card.header-card .card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.custom-card.header-card .card-text {
  font-size: 16px;
  color: #555;
}

.custom-card.header-card .btn-outline-primary {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-card.header-card .btn-outline-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}


/* ITEM card */
  
.card {
    border: none;
  }

  .card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;  /* Add margin to push the filter down */
}

.category-filter-container {
  display: flex;
  justify-content: center;  /* Center horizontally */
  margin-top: 20px;  /* Add margin to create space between subtitle and filter */
}


.category-filter-container select {
  width: 50%;  /* Adjust the width */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

.category-filter-container select:focus {
  border-color: #007bff;
  outline: none;
}

  .button {
    background-color: var(--button-background-color);  /* I use here the variable of the styles.css for the button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration:  'none';

  }
  
.button :hover {
    background-color: var(--button-hover-color); /* variable color here */
    text-decoration:  'none';
  }





