@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* h3 {
    text-align: center;
    color: var(--color-primary);
    background: var(--color-primary), var(--color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 20px 0;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
 */

.uploader-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color: var(--color-background);
    border-radius: 10px;
    align-items: flex-start;
}


/*input file */
.upload-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;

    background-color: #fff;
}

input[type="file"]:focus {
    border-color: var(--color-primary);
    outline:none;
    box-shadow: 0 0 5px var(--color-primary);
} 

/*upload button*/
.upload-button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} 

/*submit hover function*/
.upload-button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
} 
/*submit active (clicked) effect*/
.upload-button:active {
    background-color: var(--color-primary);
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 

/* Image gallery */
.img-gallery {
    max-width: 100%;
    margin: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} 

/* Responsive Image Layout */
/* div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; Space between images */
    /* margin-top: 20px; */