.card-img {
  max-width: 100%;
  height: auto; 
  object-fit: cover; 
  border-radius: 15px;
}

.card-body {
  font-size: 14px; 
  padding: 10px;
}

.status-available {
  color: green;
  font-weight: bold;
}

.status-unavailable {
  color: red;
  font-weight: bold;
}
.button {
  background-color: var(--button-background-color);  /* I use here the variable of the styles.css for the button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration:  'none';

}

.button:hover {
  background-color: var(--button-hover-color); /* variable color here */
  text-decoration: none;
}

.custom-link {
  display: inline-block;
  background-color: #a59aaa;
  color: white;
  padding: 10px 20px; 
  border-radius: 25px; 
  text-decoration: none; 
  font-size: 16px; 
  text-align: center; 
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.custom-link:hover {
  background-color:  #7b6f80;
  color:rgb(255, 255, 255);
}

