.item-card-container {
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0; 
  padding: 10px;
}

.my-object-card {
  width: auto;
  border-radius: 15px;
}
.object-card-img {
  align-items: center;
  width: 250px;
  object-fit: cover;
  margin-bottom: 0 auto;
}
.title-style {
  font-size: 24px; 
  font-weight: bold;
  color: #333; 

  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.button-back {
    background-color: #a59aaa;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 30px;
}

.button-back:hover {
    background-color: #7b6f80;
    color: white;
    text-decoration: none;
}

.button-back:active {
    background-color: #7b6f80;
}

.edit-button {
  background:#4bd190;
  color:white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 30px;
 
}

.edit-button:hover {
  background:#389f6e;
}

.button-delete {
  background-color:rgb(219, 70, 70); 
  color:white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  /* margin-top: 30px; */
}

.button-delete:hover {
  background-color: rgb(173, 50, 50); 
}
