.form-container-postnewitem {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100vh; /* Makes the container take the full height of the viewport */
    background-color: #f4f4f4; /* Optional: Add a background color */
  }

.form-postnewitem {
    margin: 0 auto;
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postnewitem-title {
    text-align: center;
    color: var(--color-primary);
    background: var(--color-primary), var(--color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 20px 0;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

/*input form fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/*submit button*/
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*submit hover function*/
input[type="submit"]:hover {
    background-color: #3e66a2;
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
/*submit active (clicked) effect*/
input[type="submit"]:active {
    background-color: var(--color-primary);
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 